body{
    font-family:"微软雅黑";
}
@media only screen and (max-width:767px){
    body{ width: 760px; }

}
@media (min-width: 640px)and(max-width: 1024px){
    body{width: 1200px;}
}
.topbox{
    width: 100%;
    height:78px;   /*62+8*2=78 */
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}
.top{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.topleft{
    padding:8px 0;
}
.topleft img{
    vertical-align: middle;
}
.topnav{
    width: 150px;
    background-color: #fff;
    float: left;
}
.topnav a{
    width: 150px;
    height: 78px;
    line-height: 78px;
    color: #333;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.topnav ul{
    position: absolute;
    display: none;
    z-index: 999;
}
.topnav a:hover{
    color: #0061ad;
}
.topnav li a:hover{
    font-size: 15px;
    /*background:#0061ad;*/
    background:rgba(255,0,0,0.6);
    color: white;
}
.topnav li a{
     font-size: 15px;
     color:black;
}
.topnav ul li {
    height: 30px;
}
.topnav ul li a{
    background:#FFB200;
    width: 150px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.topnav .topon{
    background: url(../images/topon.png) no-repeat center 65px;
    color:#01469b;
}

/*--------大条幅--------*/
.bannerbox {
    width: 100%;
    /*background: #04729b;*/
    height: 380px;
    overflow: hidden;
}
.banner {
    width:1920px;
    height: 380px;
    margin:0 auto;
    position:relative;
    left: 50%;
    margin-left: -960px;
    overflow:hidden;
    margin-bottom: 15px;
}
.banner .pic{
    position: absolute;
    width: 5760px;
}
.banner .pic li img{
    float: left;
}
.banner .num {
    overflow:hidden;
    height: 25px;
    position: absolute;
    bottom:0px;
    left: 50%;
    margin-left:-36px;
    zoom:1;
    z-index:3;
}
.banner .num li {
    width: 10px;
    height: 10px;
    line-height: 25px;
    background: #fff;
    margin-right: 10px;
    border-radius:50%;
    cursor:pointer;
    float: left;
}
.banner .num li.on {
    background: #2d7dbb;
}
.banner .prev,
.banner .next {
    width: 40px;
    height: 100px;
    background: url(../images/btn.png); 
    position: absolute;
    top: 140px;
    opacity: 0.5;
}
.banner .prev {
    left: 0px;
}
.banner .next {
    right: 0px;
    /*background-position: right;*/
}
@media (min-width:640px) and (max-width:1440px){
    .banner .prev { left:400px; }
    .banner .next { right:400px; background-position: right ;}
}
.footer{
    margin-top: 10px;
    border-top: solid 1px #ccc;
    background-color:  #2d7dbb;
    width: 100%;
    height: 88px;
    position: relative;
}
.footerbox{
    position: absolute;
    width: 1200px;
    height: 88px;
    left: 50%;
    margin-left:-600px;
    overflow: hidden;
    font-size: 13px;
}
.footer_left{
    height: 88px;
    width: 400px;
}
.footer_left img{
    display: block;
    margin: 4px auto;
}
.footer_right{
    width: 800px;
    height: 88px;
    color: white;
    padding-top: 8px;
    text-indent:27px;
    letter-spacing:1px;
    line-height: 200%;
}

/*section*/

.section{
    position: relative;
    width: 1200px;
    height: 700px;
    margin: 20px auto;
    /*border: 1px dashed black;*/
}
.section .trans_img{
    width: 350px;
    height: 400px;
    text-align: center;
    margin-left: 40px;
    margin-top: 50px;
    color: orange;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    /*border: 1px dashed black;*/
}

/*旋转1*/

.trans_img1 {
    padding-left: 30px;
    padding-top: 10px;
    perspective: 300px;
    perspective-origin: 100px 100px;
}
.section .trans_img1 img {
    margin-left: 50px;
    transition: all 3s;
    /*border:1px solid black;*/
}
.section .trans_img1 img:hover {
    transform: rotateX(90deg);
}

/*旋转2*/

.trans_img2 {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 10px auto;
}

.trans_img2::after, .trans_img2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 150px;
}

.trans_img2::after {
    background: url(../images/musicb.jpg) no-repeat;
    border-radius: 150px;
    /*border: 1px solid #CCC;*/
    transform-origin: center bottom;
    transition: all 1s;
}

.trans_img2::before {
    background: url(../images/musict.jpg) no-repeat;
}

.trans_img2:hover::after {
    transform: rotateX(-180deg);
}

/*旋转3*/
.trans_img3 {
    width: 300px;
    height: 300px;
    margin: 10px auto;
    position: relative;
}
.trans_img3::before, .trans_img3::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 150px;
    backface-visibility: hidden;
    transition: all 0.6s;
}
.trans_img3::before {
    background: url(../images/bg.png) left top;
    transform: rotateY(0deg);
}
.trans_img3::after {
    background: url(../images/bg.png) right top;
    transform: rotateY(180deg);
}
.trans_img3:hover::before {
    transform: rotateY(180deg);
}
.trans_img3:hover::after {
    transform: rotateY(0deg);
}
